<main>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="card bg-dark">
          <%= image_tag 'fuji.jpg' %>
          <div class="card-img-overlay text-white">
            <h1 class="mt-5">コネクト銭湯へようこそ！</h1>
            <h4 class="mt-5 font-weight-bold" style="height:100px;">コネクト銭湯はお気に入りの銭湯を投稿したり、銭湯好きと交流できるSNSサイトです。</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>