<main>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="card bg-dark">
          <%= image_tag 'fuji.jpg' %>
          <div class="card-img-overlay text-white">
            <h1 class="mt-5">コネクト銭湯へようこそ！</h1>
            <h4 class="mt-5 font-weight-bold" style="height:100px;">コネクト銭湯はお気に入りの銭湯を投稿したり、銭湯好きと交流できるSNSサイトです。</h4>
            <p class="mt-5 pt-5 mr-3 font-weight-bold">投稿,閲覧するには新規登録が必要です</p>
            <div class="mt-5">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-sm btn-success", style: "width:20%; height:30px;" %>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-sm btn-primary", style: "width:20%; height:30px;" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>