<main>
  <div class="container">
    <div class="row">
      <div class="col-10 mt-5 pt-5 text-center">
        <h1>コネクト銭湯へようこそ！</h1>
        <p class="mt-3">コネクト銭湯はお気に入りの銭湯を投稿したり、銭湯好きと交流できるSNSサイトです。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-10 mt-5 pt-5 text-center">
      検索機能
      </div>
    </div>
    <div class="row">
      <div class="col-10 mt-5 text-center">
        <div class="col">
          <p>投稿するには登録が必要です</p>
          <div class="col-5">ログイン</div>
          <div class="col-5">新規登録</div>
        </div>
    </div>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
  </div>
</main>