<main>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8 mt-5 mb-1">
          <h2>検索結果　ワード: <%= @content %></h2>
      </div>
    </div>
    <% if @model == 'user' %>
      <%= render 'public/users/users', users: @records %>
    <% else @model == 'posts' %>
    <div class="row">
      <div class="col-3"></div>
      <%= render 'public/posts/index', posts: @records %>
    </div>
    <% end %>
  </div>
</main>